.form {
    background-color: #0e1212;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
}

.subTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 38px;
    letter-spacing: -0.02em;
    color: #E0BF74;
}

.input {
    position: relative;
}

.input input {
    outline: 0;
    border: 0;
    width: 400px;
    height: 38px;
    padding: 5px 10px;
    margin: 15px 0 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 10px;
}

.submitBtn {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: rgba(224, 191, 116, 0.7);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
    background: rgba(224, 191, 116, 0.95);
}

@media (max-width: 730px) {
    .title {
        font-size: 1.8rem;
    }
    .subTitle {
        font-size: 22px;
    }
    .input input {
        width: 250px;
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 1.5rem;
    }
    .subTitle {
        font-size: 18px;
    }
}