// font variables
$font-merriweather: "Merriweather", serif;
$font-be: "Be Vietnam", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;
// color variables
$primary-color: #5f1e03;
$secondary-color: #da4c10;
$heading-black-color: #000;
$heading-white-color: #fff;
$button-color: #5f1e03;
$button-hover-color: #913006;
$button-light-color: #b43a05;
$button-light-hover-color: #da4c10;
$white-color: #fff;
$gray-color: #515151;
$light-gray-color: #9a9ab0;
$lighter-white-color: #f6f4ed;
$darken-white-color: #e9e6dc;
$border-darken-white-color: #d3d0c5;
$background-image-color: #e5e5e5;
$text-blog-color: #6d6d6d;
