.container {
  text-align: center;
  background-color: #0e1212;
  color: #fff;
  height: 100vh;
  z-index: 999;
}

.title {
  margin-bottom: 5px;
  font-size: 38px;
  color: #fff;
}

.inputField {
  margin: 5px 0;
  height: 42px;
  width: 450px;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  border: none;
  padding: 0 10px;
}

.inputField::placeholder {
  color: #fff;
}

.reveal,
.takeCode {
  position: relative;
  left: 200px;
  top: -15px;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.takeCode {
  left: 185px;
  background-color: #e0bf74;
  border-radius: 5px;
}

.loginBtn {
  height: 55px;
  width: 450px;
  background-color: #e0bf74;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
}

.loginBtn:hover {
  cursor: pointer;
}

.inputWithBtn {
  margin-bottom: -25px;
}
