.navbar {
    color: #fff;
    font-size: 18px;
    width: 100vw;
    max-width: 100%;
    padding: 55px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.navbar p {
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

.logoText {
    flex: 1;
    margin: 0;
    padding-left: 5px;
    align-self: center;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem {
    margin: 0 21px;
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    line-height: 21.23px;
}

.navItem::after {
    content: "";
    display: block;
    width: 0%;
    background-color: #fff;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.navItem:hover::after {
    width: 100%;
}

.userBox {
    display: flex;
    align-items: center;
    justify-self: end;
}

.userBox svg {
    font-size: 22px !important;
}

.signUpBtn,
.loginBtn {
    border: 2px solid #E0BF74;
    border-radius: 8px;
    padding: 6px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.loginBtn {
    background: #E0BF74;
}

.loginBtn:hover {
    background: #ebc56c;
}

.signUpBtn {
    background: transparent;
    color: #E0BF74;
    margin-right: 10px;
    margin-left: 10px;
}

.signUpBtn:hover {
    color: #ebc56c;
}

@media (max-width: 1190px) {
    .navLinks,
    .userBox {
        display: none;
    }
    .signUpBtn {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 1080px) {
    .navbar {
        padding: 20px 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 380px) {
    .navbar {
        grid-template-columns: 2fr 1fr;
    }
}