.container {
    background-color: #0e1212;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 120vh;
    position: relative;
}

.inner {
    z-index: 1;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 280px 15px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-20vh);
}

@media (max-width: 380px) {
    .inner {
        padding: 210px 15px 10px;
    }
}