.container {
    background-color: #0e1212;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
}

.youtube {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
}