// font variables
$font-merriweather: 'Merriweather',
serif;
$font-be: 'Be Vietnam',
sans-serif;
$font-dm-sans: 'DM Sans',
sans-serif;
// color variables
$primary-color:#5F1E03;
$heading-black-color: #000;
$heading-white-color: #fff;
$button-color:#B43A05;
$white-color: #fff;
$gray-color: #515151;
$light-gray-color: #9A9AB0;