@import "variables.scss";
@import "mixins";

.imgOverlay {
  margin-top: 120px;
  position: relative;
  .img {
    width: 100%;
    height: auto;
    min-height: 300px;
    @include media(tablet) {
      min-height: 200px;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4));
    content: "";
  }
}

.contentOverlay {
  color: $white-color;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  @include media(tablet) {
    top: 0%;
  }
  .title {
    font-size: 80px;
    font-weight: 700;
    color: $white-color;
    margin: 0;
    @include media(tablet) {
      font-size: 30px;
      margin-top: 15px;
    }
  }
  .subTitle {
    font-size: 20px;
    width: 40vw;
    @include media(tablet) {
      font-size: 15px;
      width: 100%;
    }
    @include media(mobile) {
      font-size: 13px;
    }
  }
  .input {
    width: 35vw;
    padding: 15px 20px;
    border-radius: 10px;
    @include media(tablet) {
      width: 50vw;
      padding: 10px 15px;
    }
    @include media(mobile) {
      width: 80vw;
      padding: 10px 15px;
    }
  }
}

.filter {
  position: sticky;
  top: 100px;
}

.filterBtn,
.sortBtn {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 3px 5px;
  border-radius: 5px;
  color: #5f1e03;
  background-color: #f2f2f2;
  &:active {
    background-color: #c2c2c2;
  }
  width: max-content;
  p {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.filterBtn {
  display: none;
}

.sortBtn {
  float: right;
  cursor: pointer;
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .filter {
    display: none;
  }
  .filterBtn {
    display: flex;
  }
  .filterBox {
    justify-content: space-between;
  }
}

@media (max-width: 830px) {
  .imgOverlay {
    margin-top: 60px;
  }
}
