@import "variables";
@import "mixins";
.heroWrapper {
  margin-top: 120px;
  color: #fff;
  padding-bottom: 30px;
  height: auto;
  .banner {
    width: 100%;
    height: auto;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      max-height: 80vh;
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 0, 0, 0.3);
    }
    .text {
      position: absolute;
      left: 200px;
      @include media(tablet) {
        left: 100px;
      }
      @include media(mobile) {
        left: 58px;
      }
      top: 50%;
      transform: translateY(-50%);
      font-family: $font-be;
      .heading {
        font-size: 80px;
        font-weight: 600;
        color: #fff;
        margin-bottom: -20px;
        @include media(tablet) {
          font-size: 32px;
          margin-bottom: -5px;
        }
        @include media(mobile) {
          font-size: 20px;
          margin-bottom: 0;
        }
      }
      .subHeading {
        font-weight: 300;
        font-size: 20px;
        color: #fff;
        margin: 0;
        width: 60%;
        @include media(tablet) {
          font-size: 16px;
          width: 80%;
        }
        @include media(mobile) {
          font-size: 13px;
          width: 85%;
        }
      }
      .buyNow {
        margin: 20px 0;
        padding: 10px;
        @include media(mobile) {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .heroWrapper {
    margin-top: 60px;
  }
}
