@import "variables";
.headerWrapper {
  background-color: $heading-white-color;
  .logoText {
    font-size: 22px;
    font-weight: 700;
    color: $primary-color;
  }

  .btnRegister {
    margin-right: 10px;
  }
}

.menuWrapper {
  background: $primary-color;
  ul {
    margin: 0;
    li {
      padding: 30px 20px;
      font-family: $font-be;
      font-weight: 200;
      color: $white-color;
      cursor: pointer;
      white-space: nowrap;

      .input {
        border-radius: 10px;
      }
      .dropdownButton {
        color: #fff;
      }
      &:first-child {
        background: rgba(0, 0, 0, 0.5);
      }
    }
    .active {
      font-weight: 700;
    }
  }
}
