@import "variables";

.container {
  margin-top: 30px;
  p {
    margin-bottom: 3px;
  }
  .wrapField {
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  .input,
  .inputTextarea {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid $border-darken-white-color;
    border-radius: 10px;
  }
  .inputTextarea {
    resize: none;
    height: 120px !important;
  }

  .iconDropdown {
    margin-left: -20px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
