@import "variables";
@import "mixins";

.container {
  margin: 180px 0;
  .section {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border: 2px solid $darken-white-color;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
    }
    .subSection {
      color: $gray-color;
      font-size: 15px;
      font-weight: normal;
      padding-top: 3px;
      margin: 0;
      @include media(mobile) {
        display: block;
      }
    }
  }
  .labelCheckbox {
    font-weight: 500;
    margin: 10px;
  }
}
