@import "variables";
.tag {
    border-radius: 6px;
    padding: 2px 6px;
    background: #F6F4ED;
    font-family: $font-be;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.008em;
    color: #5F1E03;
    margin-right: 10px;
}